version: "3.9"

services:

  api-terceira:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_terceira
    restart: always
    ports:
      - "8082:8082"
    environment:
      # Banco (API Login)
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/api_login
      SPRING_DATASOURCE_USERNAME: api_login_user
      SPRING_DATASOURCE_PASSWORD: api_login_pass

      # RabbitMQ (API Fornecedor)
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      # Mailhog
      SPRING_MAIL_HOST: mailhog
      SPRING_MAIL_PORT: 1025

    networks:
      - backend

networks:
  backend:
    external: true
    name: shared_backend
